<nav class="navigation">
  <ul class="navigation__wrapper">
    <li class="navigation__item">
      <a routerLink="/games" class="logo"
        ><img src="../../assets/steam-logo.png" alt="Logo" class="logo__img"
      /></a>
    </li>
    <li class="navigation__item"><a routerLink="/games">Games</a></li>
    <li class="navigation__item"><a routerLink="/library">Library</a></li>
    <li class="navigation__item"><a routerLink="/friends">Friends</a></li>
    <li class="navigation__item"><a routerLink="/profile">Profile</a></li>
  </ul>
</nav>
